.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-top: 1px solid black;
  border-right: 1px solid black;
}

.grid > span {
  padding: 8px 4px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  max-width: 240px;
  white-space: nowrap;
  overflow: hidden;
  /* TODO: have tooltip on hover to show full truncated data */
  text-overflow: ellipsis;
}
.no-data {
  display: grid;
  place-items: center;
  color: red;
}
